<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <title>Portofolio</title>
  <style>
    h1 {
      color: white;
    }

    h5 {
      color: white;
      line-height: 1.6;
    }

    body {
      background-color: #4d0099;
      /* overflow: hidden; */
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }

    .card {
      background-color: rgba(128, 0, 255, 0.2);
    }

    .card-body {
      color: white;
    }



    .containerNew {
      margin-top: 30px;
    }
  </style>
</head>

<body>
  <div class="containerNew">
    <center>
      <div class="container">
        <center>
          <h1>Welcome To Faridlan's Portofolio</h1>
          <h5>this project or portfolio is a RESTful API, with an Olshop application theme, this is only a landing page
            for RESTful API documentation, and there is also a Source Code for this project, I created this RESTful API
            with Go Programming Language, and MYSQL Database. This application is far from perfect. Enjoy!
          </h5>
          <div class="alert alert-danger" role="alert">
            Don't Use Your Credentials Email or Password, Just Use Dummy Data!
          </div>
        </center>
        <div class="row row-cols-md-2 row-cols-sm-12 col-12" style="padding: 0px;">
          <div class="col mb-4 col-md-6 col-sm-12" style="padding: 0px;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Doc API For Admin Role</h5>
                <a class="btn btn-primary" href="https://app.swaggerhub.com/apis-docs/faridlan/Olshop_TA_Admin/v.1.0.0"
                  role="button" target="_blank">Go To Documentaion</a>
              </div>
            </div>
          </div>
          <div class="col mb-4 col-md-6 col-sm-12 col-12" style="padding: 0px;">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Doc API For User Role</h5>
                <a class="btn btn-primary" href="https://app.swaggerhub.com/apis-docs/faridlan/Olshop_TA/v.1.0.0"
                  role="button" target="_blank">Go To Documentaion</a>
              </div>
            </div>
          </div>
          <div class="col mb-4 col-md-6 col-sm-12 col-12" style="padding: 0px;">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Tips Use This RESTful API</h5>
                <p class="card-text">
                  To speed up the test, please use :
                  <br>
                  Username : Admin
                  <br>
                  Password : Admin
                </p>
              </div>
            </div>
          </div>
          <div class="col mb-4 col-md-6 col-sm-12 col-12" style="padding: 0px;">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">Source Code</h5>
                <p class="card-text">This is a Source Code for RESTful API</p>
                <a class="btn btn-primary" href="https://github.com/faridlan/restful-api-market" role="button"
                  target="_blank">Go To
                  Github</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </center>
    <div class="containeImage" style="top: 100px;">
      <img src="https://storage.googleapis.com/nostra-storage/test-file/x.png" alt="" style="width: 100%;">
    </div>

  </div>
  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
</body>

</html>